:root {
    --primary-color: #03346E;
    --secundary-color: #6EACDA;
    --hover-color: #064A9B;
    --bg-images: #E7F1EF;
    --color-danger: #D9534F;
    --color-success: #4cd964;
    --background-color: #03346E;
  --color-danger: #f44336;
  --text-color: #2F2F2F;
   
}
.hover-bg-secundary:hover {
  background-color: var(--hover-color);
}
